/*
|--------------------------------------------------------------------------
| Standard (S)CSS-Selectors
|--------------------------------------------------------------------------
*/
html{height: 100%}

body{
  background-color: $body-bg;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

h1{
  font-family: "Myriad Pro", "Myriad", "Arial", "sans-serif";
  font-weight: bold;
}

p{
  font-size: 20px;
  margin-bottom: 0%
}

i{
  color: $zv-blue;
}

li{
  list-style-type: none;
}



/*
|--------------------------------------------------------------------------
| ID's
|--------------------------------------------------------------------------
*/


#app{
  display: block;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
|--------------------------------------------------------------------------
| Classes
|--------------------------------------------------------------------------
*/


.well{
  background-color: #fbfbfb;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.title{
  color: $zv-yellow
}

.dark{
  background-color: $dark-transparent;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.white-container-overlay
{
  background-color: white;
  width: 100%;
  height: 100%;
}

.chart{
  margin-top: 6%;
}

.map-margin{
  padding-bottom: 50px;
}

.email-fix{
 color: $email-fix;
 text-decoration: none;
}

.email-fix:hover{
 color: $email-fix;
}
.panel-body{
  text-align: center;
}

.quiz-title{
  text-align: left;
}

.quiz-button{
  margin-top: 5%;
}
<<<<<<< HEAD

.login-register-background {
  background-image: url('../../img/background/01.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

=======
>>>>>>> 5dfbaf285b3c6e9f5735cb3b8e5971c55d7b93bb
@media (max-width: 767px) {
    .quiz-title { text-align: center }
    .quiz-button { margin-top: 3%}
}


// TODO: Find a proper fix for this
#app > div.container > div:nth-child(1) > div, #app > div.container > div:nth-child(2) > div.well:not(.panel*){
  height: 575px;
}
