/*
|--------------------------------------------------------------------------
| Standard (S)CSS-Selectors
|--------------------------------------------------------------------------
*/

body{
  background-color: $body-bg;
}

h1{
  font-family: "Myriad Pro", "Myriad", "Arial", "sans-serif";
  font-weight: bold;
}

p{
  font-size: 20px;
  margin-bottom: 0%
}

i{
  color: $zv-blue;
}



/*
|--------------------------------------------------------------------------
| ID's
|--------------------------------------------------------------------------
*/


#app{
  display: block;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
|--------------------------------------------------------------------------
| Classes
|--------------------------------------------------------------------------
*/


.well{
  background-color: #fbfbfb;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.title{
  color: $zv-yellow
}

.dark{
  background-color: $dark-transparent;
  margin: 0;
}

.chart{
  margin-top: 6%;
}

.map-margin{
  padding-bottom: 50px;
}

.email-fix{
 color: $email-fix;
 text-decoration: none;
}

.email-fix:hover{
 color: $email-fix;
}

// TODO: Find a proper fix for this
#app > div.container > div:nth-child(1) > div, #app > div.container > div:nth-child(2) > div.well:not(.panel*){
  height: 575px;
}
