/*
|--------------------------------------------------------------------------
| Standard (S)CSS-Selectors
|--------------------------------------------------------------------------
*/

body{
  background-color: $body-bg;
}

h1{
  font-family: "Myriad Pro", "Myriad", "Arial", "sans-serif";
  font-weight: bold;
}

p{
  font-size: 20px;
  margin-bottom: 0%
}

i{
  color: $zv-blue;
}



/*
|--------------------------------------------------------------------------
| ID's
|--------------------------------------------------------------------------
*/

#app > header > div > center > img{
  margin-top: 50px;
}

#app{
  display: block;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
|--------------------------------------------------------------------------
| Classes
|--------------------------------------------------------------------------
*/


.well{
  background-color: #fbfbfb;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.Title{
  color: $zv-yellow
}

.dark{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.chart{
  margin-top: 6%;
}

.footer{
  background-color: #222;
  color: white;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.map-margin{
  padding-bottom: 50px;
}

.email-fix{
 color: #636b6f;
 text-decoration: none;
}

.email-fix:hover{
 color:#636b6f;
}

#app > div.container > div:nth-child(1) > div, #app > div.container > div:nth-child(2) > div.well:not(.panel*){
  height: 575px;
}
