body{
  background-color: $body-bg;
}

#app > header > div > center > img
{
  margin-top: 50px;
}

h1{
  font-family: "Myriad Pro", "Myriad", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: bold;
}

p{
  font-size: 20px;
  margin-bottom: 0%
}

.yellowHeader{
  color: #ffce07;
  font-size: 58px;
  margin-bottom: 0;
}

.color-white{
  background-color:#fff!important;
}

.dark{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.navspace{
  margin: 0;
}

.chart{
  margin-top: 6%;
}

.mapmargin{
  padding-bottom: 50px;
}