@import url('https://fonts.googleapis.com/css?family=Roboto');
/*
|--------------------------------------------------------------------------
| Standard (S)CSS-Selectors
|--------------------------------------------------------------------------
*/
html{height: 100%}

body{
  background-color: $body-bg;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-weight: bold;
}

p{
  font-size: 20px;
  margin-bottom: 0%
}

i{
  color: $zv-blue;
}

li{
  list-style-type: none;
}



/*
|--------------------------------------------------------------------------
| ID's
|--------------------------------------------------------------------------
*/


#app{
  display: block;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
|--------------------------------------------------------------------------
| Classes
|--------------------------------------------------------------------------
*/


.well{
  background-color: #efefef;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin-top: 3%;
}

.maps{
  border-bottom: 3px solid $nav-bg;
}

  .quiz-container{
    border-bottom: 1px solid $nav-bg;
    margin-top: 2%;
    padding-bottom: 1%;
    font-size: 18px;
    h4{
      font-weight: bold;
    }
  }

.title{
  color: $zv-yellow;
  margin-bottom: 0;
}

.dark{
  background-color: $dark-transparent;
  margin: 0;
  width: 100%;
  height: 100%;
}

.white-container-overlay
{
  background-color: white;
  width: 100%;
  height: 100%;
}
.chart{
  margin-top: 6%;
}

.map-margin{
  padding-bottom: 50px;
}

.email-fix{
 color: $email-fix;
 text-decoration: none;
}

.email-fix:hover{
 color: $email-fix;
}

.quiz-title{
  text-align: left;
}

.quiz-button{
  margin-top: 5%;
}

.auth-title{
  color: $text-color;
}

.landing-header{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/img/background/01.jpg');
}

@media (max-width: 767px) {
    .quiz-title { text-align: center }
    .quiz-button { margin-top: 3%}
}


// TODO: Find a proper fix for this
#app > div.container > div:nth-child(1) > div, #app > div.container > div:nth-child(2) > div.well:not(.panel*){
  height: 575px;
}
