.usercreationr{
  position: fixed;
  left: 50%;
  right: 0%;
  background-color: green;
  height: 100%;
}
.usercreationl{
  position: fixed;
  left: 50%;
  right: 0%;
  background-color: yellow;
  height: 100%;
}
