.panel-top {
  margin-top: $userpanel-margin-top;
}
.user-creation-img {
  margin: $userpanel-usercreationimg-margin;
  margin-top: $user-image-margin-top;
}
.label-alignment {
  display: $userpanel-label-align
}
.panel-label {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: $userpanel-margin-top;
}
.panel {
  background-color: rgba(204, 204, 204, 0.67);
  margin-bottom: 5%;
}
.panel-heading {
  background-color: rgba(#fff, 0) !important;
  padding-top: 20px;
}
.panel-border {
  box-shadow: 0px 1px 1px grey;
}
.usercreation-button {
  width: $usepanel-btn-fullwidth-width;
  text-align: $userpanel-btn-center-position-text-align;
}
.usercreation-button-position {
  margin-top: $userpanel-btn-center-position-margin-top;
  margin-bottom: $userpanel-btn-fullwidth-margin-bottom;
}
.btn-center-position {
  text-align: $userpanel-btn-center-position-text-align;
  margin-top: $userpanel-btn-center-position-margin-top;
  margin-bottom: $userpanel-btn-center-position-margin-bottom;
}
.btn-fullwidth {
  width: $usepanel-btn-fullwidth-width;
  margin-bottom: $userpanel-btn-fullwidth-margin-bottom;
}
/*--------------------
Media queries
--------------------*/
@media screen and (max-width: 351px) {
.respbreak {
  display: $userpanel-respbreak-res-display;
  padding-bottom: $userpanel-respbreak-res-padding-bottom;
}
}
