.panel-top {
  margin-top: $userpanel-margin-top;
}
.user-creation-img {
  margin: $userpanel-usercreationimg-margin !important;
  display: $userpanel-usercreationimg-display;
}
.label-alignment {
  display: inline-block;
}
//Panel style
.panel-label {
  margin: $userpanel-label-margin;
  text-align: $userpanel-label-textalign;
  font-size: $userpanel-label-fontsize;
  color: $userpanel-label-color;
}
.panel
{
  background-color: $userpanel-background-color !important;
  border-radius: $userpanel-border-radius !important;
}
.panel-topmargin {
  margin-top: $userpanel-panel-topmargin;
}
.panel-heading {
  background-color: hsla(0, 0%, 100%, 0) !important;
  padding-top: 20px;
}
.login-register-background {
  background-image: url('../../img/background/01.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.user-image-margin {
margin-top: 5% !important;
}
.panel-border {
  box-shadow: 0px 1px 1px grey;
  border-radius: none !important;
}
.btn-center-position {
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
}
.btn-fullwidth
{
  width: 100%;
  margin-bottom: 5px;
}
//--------------------
//Media queries
//--------------------
@media screen and (max-width: 351px) {
.respbreak {
  display: block;
  padding-bottom: 10px;
}
}
