
// Body
$body-bg: rgba(#f5f6f9, 1);

//hsl(197, 39%, 94%)

$bright-blue: rgba(#d1d6ff, 1);

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;
$nav-gray: #cccccc;
$nav-text: #3b3b3b;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//userpanel
//--panel-top
$userpanel-margin-top: 5%;
//--usr-creation-img
$userpanel-usercreationimg-margin: 0 auto;
//--user-image-margin
$user-image-margin-top: 5%;
//--label-alignment
$userpanel-label-align: inline-block;
//--btn-center-position
$userpanel-btn-center-position-text-align: center;
$userpanel-btn-center-position-margin-top: 5px;
$userpanel-btn-center-position-margin-bottom: 5px;
//--btn-fullwidth
$usepanel-btn-fullwidth-width: 100%;
$userpanel-btn-fullwidth-margin-bottom: 5px;
//--@media screen and (max-width: 351px)
$userpanel-respbreak-res-display: block;
$userpanel-respbreak-res-padding-bottom: 10px;

//dark header background
$dark-transparent: rgba(#000000, 0.5);

//main logo colors
$zv-blue: #3e6db5;
$zv-yellow: #ffce07;

//email
$email-fix: #636b6f;
